body{
    margin: 0;
    padding: 0;
    background-color: rgb(17, 120, 138,0.95);
    color: rgb(6, 56, 56);
}
header{
    height: 10vh;
    width: 100vw;
    background-color: rgb(17, 120, 138);
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    position: fixed;
}

#fakeheader{
    height: 10vh;
    width: 100vw;
}
.container{
    display: flex;
    justify-content: space-between;
}
#cont1{
    font-size: 50px;
    font-weight: bolder;
}
#cont2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30em;
    font-size: 20px;
    font-weight: 700;
}
a{
    text-decoration: none;
    color: #043646;
}
#cont2 div:hover{
    
    border-bottom: 3px solid rgb(107, 4, 73);
    font-size: 25px;
}
#page1,#page2,#page3,#page4{
    height: 90vh;
    width: 100vw;
    border-bottom: 3px solid black;
}
#page1{
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 60px;
}
.border{
    height: 1000px;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-left: 30px solid rgb(201, 176, 176);
   
}
#div1{
    font-size: 100px;
    font-weight: 500;
}
#div2{
    font-size: 30px;
    padding-top: 20px;
}
#page2{
    display: flex;
   
}
.div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#about{
   font-size: 50px;
   font-weight: bold;
   text-align: center;
   
}
.p{
    font-size: 25px;
    font-weight: lighter;
    text-align: left;
}
#image{
    border-radius: 50%;
    border-left: 10px solid rgb(148, 124, 124);
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner2{
    background-image: url("image.jpg");
    border-radius: 50%;
    height: 500px;
    width: 500px;
    background-size: cover;
}
#page3{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#page3 h2{
    font-size: 35px;
}
#page3 p{
    font-size: 20px;
}

#page4{
    display: flex;
}

input{
    height: 40px;
    width: 400px;
    border-radius: 10px;
    margin: 3px;
}
textarea{
    width: 400px;
    border-radius: 10px;
    margin: 3px;
}
button{
    padding: 10px;
    font-size: 15px;
    font-weight: 300;
    border-radius: 10px;
    margin: 3px;
    background-color: rgb(12, 131, 131);
    border: #01212c solid 2px;
    margin-left: 140px;
}
button:hover{
    background-color:   rgb(7, 109, 66);
    border: solid 3px #140d09f6;
    font-size: 15px;
    font-weight: 500;
}
#contact {
   border-left: dotted 2px grey;
}
#contact div{
    margin: 30px;
    font-size: 20px;
    font-weight: 600;
}
footer{
    background-color: black;
    height: 40px;
    width: 100vw;
    color: antiquewhite;
    text-align: center;
    padding-top: 1px;
}
i{
    color: #ff004f;
}